#define IDD_DLG2 1200
#define IDC_BTN20 1203
#define IDC_IMG3 1201
#define IDC_IMG1 1202
#define IDC_IMG2 1204
#define IDC_STC5 1205
#define IDC_STC6 1206
#define IDC_STC8 1208
#define IDC_IMG5 1207
#define IDC_STC10 1209
#define IDC_STC7 1210
#define IDC_STC9 1211
IDD_DLG2 DIALOGEX 5,5,227,180
CAPTION "P2kCommander"
FONT 10,"Tahoma",400,0
STYLE 0x10C70000
EXSTYLE 0x00000000
BEGIN
  CONTROL "OK",IDC_BTN20,"Button",0x50010000,3,125,65,18,0x00000000
  CONTROL "#1201",IDC_IMG3,"Static",0x5000000E,152,126,72,52,0x00000000
  CONTROL "#1202",IDC_IMG1,"Static",0x5000000E,3,3,54,30,0x00000000
  CONTROL "#1203",IDC_IMG2,"Static",0x5000000E,3,51,33,31,0x00000000
  CONTROL "P2kCommander: file manager with 2 panels          for any Motorola P2k phone s5vi@freemail.hu   www.geocities.com/s5vi",IDC_STC5,"Static",0x50000000,68,4,144,26,0x00000000
  CONTROL "Hall of Fame:",IDC_STC6,"Static",0x50000000,3,39,69,11,0x00000000
  CONTROL "Build date:     2005.03.18.",IDC_STC8,"Static",0x50000000,80,126,64,15,0x00000000
  CONTROL "#1207",IDC_IMG5,"Static",0x5000020E,3,144,133,34,0x00000000
  CONTROL "First of all:                                                     Vilko, the 'P2k man'     anton@tbg.ru  http://anton.tbg.ru/files                                        I use his assembly P2k routines.",IDC_STC10,"Static",0x50000000,37,51,168,32,0x00000000
  CONTROL "Iczelion  Iczelion@win32asm.cjb.net  win32assembly.online.fr    KetilO  radasm@visualassembler.com  radasm.visualassembler.com Hutch  hutch@movsd.com  www.movsd.com                        Christian  support@ghisler.com www.ghisler.com",IDC_STC7,"Static",0x50000000,1,83,228,32,0x00000000
  CONTROL "Netuddki  johnnybravo@hawaii.zzn.com",IDC_STC9,"Static",0x50000000,1,115,228,8,0x00000000
END
