#define IDC_ACCEL						2000
#define IDC_BTN24						1027
#define IDC_BTN6						1011
#define IDC_BTN6						1011
#define IDC_BTN12						1018
#define IDC_BTN11						1017
#define IDC_BTN13						1019
#define IDC_BTN14						1020
#define IDC_BTN4						1009
#define IDC_BTN1						1007
#define IDC_BTN19						1021
#define IDC_BTN9						1022
#define IDC_BTN5						1010
#define IDC_BTN2						1004
#define IDC_BTN3						1008
#define IDC_BTN23						1026
#define IDC_BTN28						1028
#define IDC_BTN33						1029
IDC_ACCEL ACCELERATORS DISCARDABLE
BEGIN
  116,IDC_BTN24,VIRTKEY,NOINVERT
  119,IDC_BTN6,VIRTKEY,NOINVERT
  46,IDC_BTN6,VIRTKEY,NOINVERT
  112,IDC_BTN12,VIRTKEY,NOINVERT,ALT
  121,IDC_BTN11,VIRTKEY,NOINVERT
  113,IDC_BTN13,VIRTKEY,NOINVERT,ALT
  9,IDC_BTN14,VIRTKEY,NOINVERT
  118,IDC_BTN4,VIRTKEY,NOINVERT
  114,IDC_BTN1,VIRTKEY,NOINVERT
  96,IDC_BTN19,VIRTKEY,NOINVERT
  82,IDC_BTN9,VIRTKEY,NOINVERT,ALT
  120,IDC_BTN5,VIRTKEY,NOINVERT
  117,IDC_BTN2,VIRTKEY,NOINVERT
  113,IDC_BTN3,VIRTKEY,NOINVERT
  115,IDC_BTN23,VIRTKEY,NOINVERT
  8,IDC_BTN28,VIRTKEY,NOINVERT
  53,IDC_BTN33,VIRTKEY,NOINVERT,CONTROL,ALT
END
