#define IDR_MENU 11000
#define IDM_RCOPY 11001
#define IDM_RDELETE 11002
#define IDM_RVIEW 11005
#define IDM_REDIT 11004
#define IDM_RATTRIB 11003
IDR_MENU MENUEX
BEGIN
  MENUITEM "Copy",IDM_RCOPY
  MENUITEM "Delete",IDM_RDELETE
  MENUITEM "View",IDM_RVIEW
  MENUITEM "Edit",IDM_REDIT
  MENUITEM "Attrib",IDM_RATTRIB
END
