#define IDR_MENU2 11000
#define IDM_SET 11001
#define IDM_RESET 11002
#define IDM_TOGGLE 11003
IDR_MENU2 MENUEX
BEGIN
  MENUITEM "&Set",IDM_SET
  MENUITEM "&Reset",IDM_RESET
  MENUITEM "&Toggle",IDM_TOGGLE
END
