
mode 0
name _SU_INFO_
time_stamp
seem 38
sw_ver
seem 4
seem 383
seem 279
seem 369
hw_unique_id
hw_revision
flash_header
cg0_header
mode_end

mode 1
name _PARAMETER_
time_stamp
seem 38
sw_ver
param 0
mode_end

mode 2
name _DATA_SETTINGS_
time_stamp
seem 38
sw_ver
seem 63
seem 67
seem 68
seem 66
seem 62
seem 64
seem 65
seem 70
seem 69
seem 425
seem 387
seem 562
seem 563
seem 564
seem 565
seem 601
seem 566
seem 421
seem 422
seem 56
seem 57
seem 128
seem 127
seem 554
mode_end
